* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.header__container {
  background: #252B42;
}

.layout--1 {
  width: 100%;
  background: #252B42;
}

.layout--2 {
  max-width: 1050px;
  margin: 0 auto;
}

.header {
  max-width: 1322px;
  height: 91px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  color: #fff;
}
.header__title {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}
.header__navigations {
  max-width: 815px;
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation--1 {
  max-width: 275px;
  width: 100%;
}
.header__list--1 {
  max-width: 275px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.header__navigation--2 {
  max-width: 300px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 45px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
}
.header__navigation--2 > a {
  font-size: 14px;
}
.header__navigation--2 > button {
  padding: 15px 25px;
  background: #23A6F0;
  border-radius: 5px;
  border: none;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}
.header__navigation--2 > button > span {
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-wrap: nowrap;
}

.main {
  max-width: 1050px;
  margin: 0 auto;
}
.main__section--1 {
  display: flex;
  flex-direction: column;
}
.main__section--1__article--1 {
  max-width: 700px;
  margin: 0px auto;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.main__section--1__article--1 > h5 {
  color: #23A6F0;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 700;
}
.main__section--1__article--1 > h1 {
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
  text-wrap: balance;
}
.main__section--1__article--1 > h4 {
  max-width: 540px;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #fff;
  text-align: center;
}
.main__section--1__button-container {
  display: flex;
  gap: 10px;
}
.main__section--1__button-container > button {
  padding: 15px 40px;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: 700;
  text-wrap: nowrap;
}
.main__section--1__button-container > button:first-of-type {
  background: #23A6F0;
  border: none;
}
.main__section--1__button-container > button:first-of-type > span {
  color: #fff;
}
.main__section--1__button-container > button:last-of-type {
  background: none;
  border: 1px solid #23A6F0;
}
.main__section--1__button-container > button:last-of-type > span {
  color: #23A6F0;
}
.main__section--1__article--2 {
  width: 100%;
  margin: 80px 0px;
}

.box__container {
  max-width: 1046px;
  margin: 80px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.box__container--1, .box__container--2, .box__container--3 {
  padding: 35px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.0705882353);
  background: #fff;
  border: none;
}
.box__container--1 > div, .box__container--2 > div, .box__container--3 > div {
  width: 70px;
  height: 76px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box__container--1 > hr, .box__container--2 > hr, .box__container--3 > hr {
  width: 50px;
  height: 2px;
  background: #E74040;
  border: none;
}
.box__container--3 {
  background: #23A6F0;
}
.box__container__img-container--1 {
  background: #B9EAA8;
}
.box__container__img-container--2 {
  background: #FFDCD1;
}
.box__container__img-container--3 {
  background: #fff;
}

.main__section--2 {
  width: 100%;
  padding: 80px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: 100%;
  background: #fff;
}
.main__section--2__article--1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  align-items: flex-start;
  font-weight: 700;
  letter-spacing: 0.2px;
}
.main__section--2__article--1 > hr {
  width: 94px;
  height: 7px;
  border: none;
  background: #E74040;
}
.main__section--2__article--1 > h2 {
  font-size: 40px;
  line-height: 50px;
  color: #252B42;
}
.main__section--2__article--1 > p {
  width: 360px;
  color: #737373;
  font-size: 14px;
  line-height: 20px;
}
.main__section--2__article--1 > a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main__section--2__article--1 > a > span {
  color: #23A6F0;
  font-size: 14px;
  line-height: 20px;
}

.main__section--3 {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 110px;
}
.main__section--3__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.main__section--3__article > h6 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #23A6F0;
  font-weight: 700;
}
.main__section--3__article > h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #252B42;
}
.main__section--3__article > p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;
  color: #737373;
}
.main__section--3__cards {
  display: flex;
  gap: 30px;
  align-items: center;
}
.main__section--3__cards--1 {
  display: flex;
  flex-direction: column;
  max-width: 238px;
}
.main__section--3__cards--1__container--1 {
  position: relative;
}

.sale__container {
  padding: 0px 10px;
  border-radius: 3px;
  background: #E74040;
  width: 50px;
  height: 25px;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
}

.icons__container {
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 20px;
  left: 50px;
}

.container__text {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container__text--1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__text--1 > span {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #23A6F0;
}
.container__text--1 > div {
  max-width: 50px;
  display: flex;
  background: #252B42;
  gap: 5px;
  align-items: center;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}
.container__text > h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
}
.container__text > h5:first-of-type {
  color: #252B42;
}

.text__parag {
  color: #737373;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.download__container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.download__container > span {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.price__article {
  display: flex;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.1px;
  font-weight: 700;
  gap: 5px;
}
.price__article > h5 {
  color: #737373;
  font-size: 16px;
}
.price__article > h6 {
  color: #40BB15;
  font-size: 16px;
}

.details__container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.details__container > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.details__container > div > span {
  font-size: 12px;
  color: #737373;
  text-wrap: nowrap;
  line-height: 16px;
}

.card__button {
  max-width: 141px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 37px;
  border: 1px solid #23A6F0;
  background: none;
}
.card__button > span {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #23A6F0;
  text-wrap: nowrap;
}

.star-icon {
  color: #FFCE31;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=index.css.map */